
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for tuple in list_of_tuples %}
        <tr>
            <td>{{ tuple[0] }}</td>
            <td>{{ tuple[1] }}</td>
            <td>${{ tuple[2] }}</td>
            <td>${{ tuple[1] * tuple[2] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: $</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
