
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for melon_tuple in melon_info_tuples %}
        <tr>
            <td>{{ melon_tuple[0] }}</td>
            <td>{{ melon_tuple[1] }}</td>
            <td>${{ melon_tuple[2] }}</td>
            <td>${{ melon_tuple[1] * melon_tuple[2] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: $</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
